* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primario);
}

:root {
  --color-primario: rgb(157, 241, 247);
  --color-secundario: rgb(247, 250, 250);
  --color-boton: rgb(53, 128, 209);
  --color-boton-hover: rgb(27, 55, 85);
}

.side {
  margin: 30px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin-right: 33.33%;
}

.card {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 90%;
  background-color: var(--color-secundario);
  border: solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 30px 70px;
  text-align: center;
}

.card-body {
  flex-grow: 1;
  width: 100%;
  text-align: justify;
  overflow-wrap: break-word;
}

.card img {
  width: 50%;
}

.textarea-container {
  flex-grow: 1;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.textarea {
  width: 80%;
  height: 250px;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.leyenda {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.leyenda p {
  margin: 0;
}

.seccion-botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-encriptar,
.btn-desencriptar,
#btn-copiar {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--color-boton);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-desencriptar:disabled {
  cursor: not-allowed;
  background-color: var(--color-boton);
}

.btn-desencriptar:not(:disabled):hover,
.btn-encriptar:hover,
#btn-copiar:hover {
  background-color: var(--color-boton-hover);
}
